body{
    font-family: sans-serif;
    font-size: 1em;
    padding: 15px;
    background-color: #FFFFFF;
}

#navbar ul{

  height: 50px;
  width: auto;
  display: block;
  list-style: none;
}

#navbar li{
  display: inline-block;
  padding: 1em;
  background-color: DarkSeaGreen ;
  list-style: none;
  cursor: pointer;
}

#navbar li a{
  text-decoration: none;
  font-weight: bold;
  height: 50px;
}

#navbar li:hover{
  background-color: #CCC;
}

.form_error{
	display: block;
	color: #FF0000;
}
.form_label{
	display: inline-block;
	width: 100px;
	color: #666666;
	font-weight: bold;
}
.form_input{
	display: inline-block;
}
.form_bloque{
	display: block;
	padding: 10px;
}
