{% extends "::layout.html.twig" %}

{% block body %}
  {% block cabecero_block %}
    <img src="{{ asset('bundles/blogmain/images/logo.png') }}" width="50px"></img>
  {% endblock %}
  <h2>MY POSTS:</h2>
  {{ feeds }}

{% endblock %}
